// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.user-places{
	font-size:1.5vw;
	border:solid black 2px;
	padding:10px;
	border-radius:20px;
	width:500px;
	display:inline-block;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:10px;
	text-align:center;
}

.post-card{
	width:500px;
	border:solid black 2px;
	margin:0 auto;
	text-align:center;
}

#post{
	margin:0 auto;
	width:500px;
	margin-bottom:50px;
	text-align:center;	
	// border:solid black 3px;

}

#post-submit{
	font-size:20px;

}

.post-input{	
	font-size:30px;
	text-align:center;
	border:solid black 3px;


}

.group-places{
	text-align:center;
}