// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// .user-places{
// 	font-size:1.5vw;
// 	background-color:white;
// 	padding:10px;
// 	width:300px;
// 	display:inline-block;
// 	margin-left:15px;
// 	margin-right:15px;
// 	margin-bottom:10px;
// 	border-radius:20px;
// }

.post-card{
	width:500px;
	// border:solid black 2px;
	margin:0 auto;
	text-align:center;
}

#post{
	margin:0 auto;
	width:500px;
	margin-bottom:50px;
	text-align:center;	
	
}

#post-submit{
	font-size:20px;

}

.post-input{	
	font-size:16px;
	text-align:center;
	width: 350px;
	height:100px;
	border:solid black 2px;
}

.group-places{
	text-align:center;
}

#group{
	margin: 0 auto;
	text-align:center;
}

.group-list{
	padding:10px;
	font-size:2vw;
}

.group-h{
	font-size:3vw;
}

.delete-group{
	font-size:1.3vw;
}

.your-friends{
	width:1100px;
	margin:0 auto;
	padding-bottom:20px;
}

