// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// this is for google maps

#map{
  border: solid black 2px;
}
#map {
  padding: 10px 10px 10px 10px;
  height: 800px;
  width: 700px;
  float: right;
  right:20px;
  padding: 0;
}

.place{
	color:red;
	border-radius: 10px;
	margin-top: 200px;
	font-weight: bold;
	font-size: 20px;
}

.popup{
	background-color: blue;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.search{
  margin: 0 auto;
  width: 200px;
  text-align: center;
  font-size: 1.3vw;
}

.place-box{
  border:solid black 2px;
  text-align: center;
  width: 500px;
  max-height: 800px;
  overflow: hidden;
  margin-left:20px;
}

.top-results{
  text-decoration: underline; 
  margin-bottom: -10px;
}
