// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#landing{
	text-align: center;
	margin: 0 auto;
	margin-top:100px;
	width:400px;
	border: solid black 2px;
}

#lets-go{
	font-size:7vw;
	font-family: 'Rum Raisin', sans-serif;
	text-align:center;	
	margin-bottom:-100px;
	margin-top:-100px;
}