// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#landing{
	text-align: center;
	margin: 0 auto;
	margin-top:100px;
	width:400px;	
}

#lets-go{
	font-size:7vw;
	font-family: 'Rum Raisin', sans-serif;
	text-align:center;	
	margin-bottom:-100px;
	margin-top:-50px;
}

.in-landing{
	border-style: solid;
	border-color: blue red green yellow;
}

.in-landing:hover{
	border-color: red blue yellow green;

	// transform: rotate(90deg);
}

#bg{
	position: fixed;
	z-index:-1;
	background-repeat: no-repeat;
	width:100%;
	background-position: center;
}