// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.show-users{
	margin-top: 100px;
	text-align:center;
	
}

.all-users{
	// border: solid black 2px;
	margin-top: 100px;
	text-align: center;
	width: 500px;
	margin:0 auto;
	text-align:center;
}

.your-users{
	margin-top: 100px;
	text-align: center;
	width: 800px;
	margin:0 auto;
	margin-bottom:40px;
	
}

.eusers{
	display:inline-block;
	width: 200px;
}

.editp{
	position:relative;
	float:right;
	text-align:center;
	width:250px;	
	border: solid black 2px;
}

.profile-info{
	margin:0 auto;
	font-size:2vw;
	width:400px;	
	text-align:center;
}

.user-places{
	font-size:1.5vw;
	border:solid black 2px;
	padding:10px;
	border-radius:20px;
	width:500px;
	display:inline-block;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:10px;
}

.content{
	margin:0 auto;
	clear:both;
	text-align:center;
}

.g{
	font-size:12px;
}

.uname{
	font-size:1.2vw;
	margin-left:30px;
}
